.*.*~
*.*~
*~
*.py
*.swp
*.pyc
__pycache__
*.valid
autom4te.cache
aclocal.m4
configure
config.guess
config.log
config.rpath
config.status
config.sub
compile
install-sh
install.sh
Makefile
Makefile.in
missing
py-compile
.idea
.tags
.tags1
.vscode

# generated applet/service definitions
src/org.mate.panel.DockApplet.mate-panel-applet
src/org.mate.panel.applet.DockAppletFactory.service

ABOUT-NLS
po/Makefile.in.in
po/POTFILES
po/Makevars.template
po/Rules-quot
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/*.pot
