.*.*~
*.*~
*~
*.py
*.swp
*.pyc
__pycache__
*.valid
autom4te.cache
configure
configure.ac
INSTALL
install.sh
Makefile
Makefile.in
missing
py-compile
aclocal.m4
config.log
config.status
install-sh
src/org.mate.panel.*
.vscode